<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{! Styles }}
    <link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">
    <link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}" >
    <link rel="stylesheet" href="{{asset "css/sweetbrz.min.css"}}">
    <link rel="stylesheet" href="{{asset "css/prism.css"}}">

    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">


    {{! Responsive Meta Tags }}
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ghost_head}}
</head>
<body class="{{body_class}}">
  <header>
    {{>header}}
  </header>
  <div class="main">
    {{{body}}}
  </div>
  <br />
  {{>foot}}
  {{ghost_foot}}
  <!-- Compressed JavaScript -->
  <script src="{{asset "js/jquery-2.1.4.min.js"}}"></script>
  <script src="{{asset "/js/tether.min.js"}}"></script>
  <script src="{{asset "/js/prism.js"}}"></script>
  <script src="{{asset "/js/sweetbrz.min.js"}}"></script>
  <script src="{{asset "/js/bootstrap.min.js"}}" ></script>
</body>
</html>
